$grey-color: #777;
$dark-grey-color: #111010;
$black-color-with-opacity: rgba(0, 0, 0, 0.5);
$dark-blue-color: #080c29;
$blue-color: #1f1f45;
$white-color: rgb(255, 255, 255);
$background-color-calendar: #1c1c1c;