body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: rgb(244,244,244);
  color: rgb(102,102,102)
}
header, main, footer{
  width:60%;
  margin: 0 auto;
}
main{
  margin-top: 20px
}
h1{
  font-size: 300%;
}
#squares{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  width:100%;
  align-items: center;
}
#squares .square{
  height: 40vh;
  width: 50%;
}
.blue-square{
  background-color: #76cdd8;
  color:rgb(255, 255, 255)
}
#first, #second, #third{
  display: flex;
  justify-content: center;
}
#first .square{
  display: flex;
  align-items: center;
  justify-content: center;
}
#first .text{
  font-size: 2.25vh;
}
.text p{
  width: 80%;
  text-align: left;
  
}
figure img{
  clip-path: circle(36%);
  min-height: 230px;
}
figure figcaption{
  font-size: 1.5vh;
}
#second h2{
  color:#76cdd8;
  text-align:left;
}

button{
  color:rgb(255, 255, 255);
  background-color: rgb(1,153,153);
  border:none;
  width: 16vh;
  height: 5vh;
  font-size: 70%;
  text-transform: uppercase;
  margin-top: 20px;
}
#third h2{
  text-align:left;
}
a{
  color:rgb(1,153,153);
  text-decoration: none;
}
#third img{
  height: 40vh;
}

#second .text, #third .text{
  font-size: 1.8vh;
}
#second .text, #third .text{
  display: flex;
  justify-content: center;
  align-items: center;
}
#second .text h2, #third .text h2{
  width: 80%;
  margin: 0 auto;
}
#second .text p, #third .text p{
  margin: 0 auto;
}
.container{
  width: 98%;
}
.button-container{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
#third .button-container{
  justify-content: center;
}

#first-block, #second-block{
  background-color: white;
}
#first-block{
  margin-bottom: 20px;
}
main .flex-item {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

main .flex-item img {
  height: 65vh;
  width: 50%;
  overflow: hidden;
  object-fit: cover;
}

main .flex-item .description-container h3 {
  text-align: left;
  color:#76cdd8;

}
main .flex-item .description-container p{
  width: 100%;
  font-size: 1.8vh;
}
main .flex-item .description-container{
  width: 80%;
}

.btn-cont{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.btn-cont button{
  background-color: rgb(1,153,153);
  font-size: 70%;
}
.text-cont{
  width: 90%;
  margin: 0 auto;
}

#cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#img-card img{
  width: 280px;
}
#img-card{
  height: 420px;
}

#first-card, #second-card{
  border:2px solid rgb(1,153,153);
  width: 29%;
}
.header-part{
  background-color: rgb(1,153,153);
  color:white;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin:-1px
}
.header-part h4, .header-part h6{
  margin:0;
  padding:0;
}
.header-part h6{
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-part h4{
  padding-top: 10px;
}
.main-part{
  font-size: 1.8vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.end-part{
  padding-bottom: 15px;display: flex;
  justify-content: center;
}
#second-card{
  margin-right: 20px;
  background-color: white;
}
footer{
  padding-top:20px
}
footer #form{
  background-color: rgb(35, 212, 212);
  color:white;
  padding-top:10px;
  padding-left: 120px;
  padding-bottom: 40px;
}
footer #list{
  background-color: rgb(1,153,153);
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
ul{
  list-style-type: none;
  font-size: 1.7vh;
}
div:first-child li:first-child{
  font-size: 2.2vh;
}
#personal-data{
  
  background-color: white;
  width: 70%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
}
#personal-data form{
  display: block;
  margin: 0 auto;
}
#columns{
  display: flex;
}
#first-column{
  display: grid;
}

footer button{
  width: 16vh;
  height: 5vh;
  font-size: 70%;
  color:rgb(255, 255, 255);
  background-color: rgb(1,153,153);
  border:none;
  text-transform: uppercase;
  margin-top: 20px;
}
footer #submit{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  width: 20vw;
  margin-bottom: 15px;
  height: 32px;
  border:none;
  border:1px solid rgb(139, 139, 139);
  padding-left:8px
}
textarea{
  border-color: rgb(139, 139, 139);
  padding-left:10px;
  padding-top: 10px;
}
select{
  margin-bottom: 15px;
  height: 38px;
  padding-left:8px;
  color:rgb(89, 89, 89);
}
#first-column{
  margin-right: 25px;
}

#cards button{
  margin-top: 0;
}

#copy{
  text-align: center;
  font-size: 60%;
}

header p:hover{
  color:#76cdd8
}
header button:hover{
  background-color: rgb(118, 205, 216);
}
#first-block button:hover{
  background-color: rgb(118, 205, 216);
}
header #third img:hover, #first-block img:hover {
  transform: scale(1.1); 
 }
 #first-card:hover, #second-card:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
 }
 #first-card button:hover, #second-card button:hover{
  background: #24d4d4;
 }
#personal-data input:focus, #personal-data select:focus, 
#personal-data textarea:focus, #personal-data button:focus{
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
#personal-data button:hover{
  background-color: rgb(118, 205, 216);
}
#second-card:hover {
  transform: scale(1.06); 
 }

#red-star {
  display: none;
  text-align: center;
  font-size: 70%;
  margin-top:0
}
#second-card:hover #red-star{
  display: block;
}
span{
  color:red
}
.text{
  position: relative;
}
#first .text:hover::before, #third .text:hover::before {
  content: '';
  position: absolute;
  top:0px;
  right: 0px;
  border-style: solid;
  border-width: 0px 50px 50px 0px;
  border-color: transparent #76cdd8 transparent transparent;
}
#second .text:hover::before{
  content: '';
  position: absolute;
  top:0px;
  left: 0px;
  border-style: solid;
  border-width: 0px 50px 50px 0px;
  border-color: transparent #76cdd8 transparent transparent;
  transform: scale(-1, 1)
}

#white-back{
  position: relative;
  height: 300px
}
#personal-data{
  position: absolute;
  top:-50px;
  left: 8%;
}
#list{
  padding-top: 50px;
  padding-bottom: 30px;
}