$font: 'Hind', sans-serif;
$nav-color: aliceblue;
$nav-size: 1vw;
$nav-img-content: url("../img/0.jpg");
$header-h1-size: 30px;
$white:#ffffff;
$main-h2-color:rgb(159,162,166);
$main-p-color: rgb(69,75,80);
$your-reviews-h3-color: rgb(158, 122, 134);
$find-tour-h3-color: rgb(193, 206, 216);
$grey-color: rgba(111, 125, 138, 0.5);
$grey-border-color:rgb(111, 125, 138);
$footer-h5-color: rgb(118, 151, 220);
$pink-color: black;
$footer-p-color: rgb(26,53,100);
$footer-ul-li-color: rgb(118, 151, 220);
$width-shaddow: 0px;

$background-colors: (
  "your-reviews": rgb(141,111,121),
  "columns": rgb(158, 122, 134),
  "find-tour": rgb(133,149,162),
  "footer": rgb(61,85,133),
  "footer-button": rgb(10, 40, 94),
);

$image: "../img/1.jpg", "../img/2.jpg", "../img/3.jpg";