$font: 'Hind', sans-serif;
$nav-color: rgb(29, 24, 28);
$nav-size: 1.3vw;
$nav-img-content: url("../img/4.jpg");
$header-h1-size: 35px;
$white:#ffffff;
$main-h2-color:rgb(166, 159, 163);
$main-p-color: rgb(106, 69, 103);
$pink-color:#b252a0;
$your-reviews-h3-color: rgb(202, 162, 203);
$find-tour-h3-color: rgb(112, 80, 109);
$grey-border-color: rgb(117, 97, 116);
$grey-color: rgb(44, 44, 44);
$footer-h5-color: rgb(185, 101, 254);
$footer-p-color: rgb(79, 10, 94);
$footer-ul-li-color: rgb(120,66,189);
$width-shaddow: 0.5px;


$background-colors: (
  "your-reviews": rgb(138,111,141),
  "columns": rgb(202, 162, 203),
  "find-tour": rgb(159,134,162),
  "footer": rgb(93,61,133),
  "footer-button": rgb(79, 10, 94),
);

$image:  "../img/5.jpeg",  "../img/6.jpg",  "../img/7.jpg" ;