$pale-blue-color: rgb(176, 231, 246);
$pale-pink-color: rgb(230, 78, 129);
$pink-color: rgb(228, 38, 101);
$blue-color: rgb(85, 183, 210);
$yellow-color: rgb(253, 243, 108);
$black-color: rgb(0, 0, 0);